<div class="card">
  <img src="<%- imagePath %> " class="card-img-top" alt="..." />
  <div class="card-body">
    <h5 class="card-title"><%-title%></h5>
    <p class="card-text"><%-description%></p>
    <div class="clearfix">
      <h2>$<%-price%></h2>
      <a href="/shop/shopping-cart" class="pull-right btn btn-success">
        <i class="fa fa-shopping-cart fa-lg"></i>
        &nbsp;Add To Cart</a
      >
    </div>
  </div>
</div>
