  
<div class="row">
    <div class="col-md-4 col-sm-3"></div>
    <div class="col-sm-6 col-md-4 ">
        <h1>Checkout</h1>
        <h4>Your Total:
            $<%- cart.totalPrice %> 
        </h4>
        
        <form action="/shop/charge" method="POST" id="checkout-form">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" id="name" class="form-control"  required name="name">
                    </div>
               
                    <div class="form-group">
                        <label for="address">Email</label>
                        <input type="email" id="address" class="form-control" value = "<%= user.email %> "required name="email">
                    </div>
                
              
                    <div class="form-group">
                        <label for="card-name">Amount</label>
                        <input type="number" name="amount" id="card-name" value="<%- cart.totalPrice %>" class="form-control" required>
                    </div>
              
             
                    <div class="form-group">
                        <div id="card-element"></div>
                        <div id="card-errors" role="alert"></div>
                    </div>
                   
                  
                </div>
                
             
            </div>
            <button type="submit" class="btn btn-success">Buy now</button>
        </form>
    </div>
</div>

<script src="https://js.stripe.com/v3/"></script>
<script type="text/javascript" src="/javascripts/checkout.js"></script>